html{
  font-size: 100%;
}
body,
#root,
#app {
  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
#root {
  overflow: hidden;
}
.content-wrapper{
  display: none;
}
#app-header{
  width: 100vw;
  height: 100vh;
  &::before{
    left: 64px;
  }
  &::after{
    right: 64px;
  }
  &::before, &::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgba(255, 255, 255,0.2);
    top: 0;
  }
  .navigation{
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    padding: 72px 66px;
    .navigation-logo{
      background: url("./logo-big-white.svg");
      background-size: 80px 77px;
      width: 80px;
      height: 77px;
      margin: 0 20px;
    }
  }
}
#section-1{
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  height: 100vh;
  width: 100vw;
  position: relative;
  .left-side{
    background: #F0F0F0;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index:0;
  }
  .text{
    z-index:1;
    width: 70%;
    padding: 0 20px;
    font-size: 3rem
  }
}
.frontLayer {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include shadow(10px, 0px, 80px, 1px, rgba(0,0,0,0.5));
  position: absolute;
  background: #295b6e;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .big-logo-wrapper {
    margin: 20px;
    position: relative;
    width: 319px;
    height: 308px;
    .big-logo-stroke {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("./logo-big-stroke.svg");
    }
    .big-logo-filled {
      width: 100%;
      height: 100%;
      background: url("./logo-big.svg");
    }
  }
}
button{
    background: none;
    padding: 20px 30px;
    border: 0;
    outline: none;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
  &.estimate{
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin: 0 20px;
    transition: all .2s;
    &:hover{
      background: #ffffff;
      color: #8CCED8;
    }
  }
  &.contact{
    &::before{
      position: absolute;
      top: 0;
      right: 0;
      transition: all .2s;
      height: 100%;
      width: 40px;
      content: '';
      background: rgba(255, 255, 255,0.2);
    }
    &:hover{
      &::before{
        width: 100%;
      }
    }
  }
}
