$color-1: #e42e65;
$color-2: #ffffff;
$color-3: #0d2b36;
$color-4: #cecece;
$color-5: #ffeb00;
$font-1: "Montserrat", sans-serif;
html {
  font-size: 100%;
}
body,
#root,
#app {
  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  height: 100%;
  font-family: $font-1;
  // overflow: hidden;
}
#root {
  // overflow: hidden;
}
.content-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  .snap,
  footer {
    scroll-snap-align: start;
  }
}
#app-header {
  position: absolute;
  background: $color-2;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  color: $color-1;
  .navigation {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    padding: 30px;
    margin: 0 auto;
    .navigation-logo {
      background: url("./creadores-logo-pink-small.svg");
      background-size: 80px 77px;
      width: 80px;
      height: 77px;
      margin: 0 20px;
    }
    button {
      color: $color-1;
      margin: 0 30px;
    }
  }
}
#section-short {
  height: 100%;
  width: 100vw;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}
.rainbow {
  background: url("./rainbow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-white-medium {
  background: url("./creadores-logo-white-medium.svg");
  background-size: 247px 213px;
  width: 247px;
  height: 213px;
}
section {
  height: 100%;
  width: 100vw;
  position: relative;
  color: $color-2;
  @include flexbox();
}
#section-1 {
  background: rgb(53, 237, 209);
  background: linear-gradient(138deg, rgba(53, 237, 209, 1) 0%, rgba(52, 160, 239, 1) 100%);
  @include align-items(center);
  @include justify-content(center);
  .text {
    z-index: 1;
    width: 70%;
    padding: 0 20px;
    font-size: 3rem;
  }
}
.example {
  .images,
  .info {
    width: 50%;
    @include flexbox();
    box-sizing: border-box;
    position: relative;
  }
  .images {
    @include justify-content(space-around);
    padding-top: 30px;
    img {
      max-width: 50%;
    }
  }
  .info {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    .text {
      z-index: 1;
      width: 70%;
      padding: 0 20px;
      font-size: 3rem;
    }
  }
}
#section-2 {
  .info {
    background: rgb(178, 221, 245);
    background: linear-gradient(138deg, rgba(178, 221, 245, 1) 0%, rgba(52, 68, 83, 1) 100%);
  }
  .images {
  }
}
#section-3 {
  .info {
    background: rgb(6, 10, 19);
    background: linear-gradient(138deg, rgba(6, 10, 19, 1) 0%, rgba(94, 116, 163, 1) 100%);
  }
  .images {
  }
}
#section-4 {
  background: rgb(220, 130, 227);
  background: linear-gradient(138deg, rgba(220, 130, 227, 1) 0%, rgba(125, 112, 219, 1) 100%);
  @include flex-direction(column);
  .text {
    z-index: 1;
    width: 100vw;
    height: 50%;
    font-size: 3rem;
    text-align: center;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
  .tales {
    width: 100%;
    height: 50%;
    @include flexbox();
    flex-wrap: wrap;
    .tale {
      width: 33.33%;
      height: 50%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      border-width: 1px 0px 0px 0px;
      border-style: solid;
      border-color: $color-2;
      box-sizing: border-box;
      transition: 0.5s all;
      &:hover {
        font-size: 20px;
        background: $color-1;
      }
    }
  }
}

#section-5 {
  .info {
    background: rgb(185, 28, 89);
    background: linear-gradient(138deg, rgba(185, 28, 89, 1) 0%, rgba(230, 28, 67, 1) 100%);
    .description {
      font-size: 20px;
      margin-top: 20px;
      line-height: 30px;
    }
  }
  .images {
    @include flex-wrap(wrap);
    img {
      max-width: 50%;
      max-height: 33%;
      display: block;
    }
  }
}
#section-6 {
  background: rgb(53, 237, 209);
  background: linear-gradient(138deg, rgba(53, 237, 209, 1) 0%, rgba(239, 181, 52, 1) 100%);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  font-size: 60px;
  div {
    text-align: center;
  }
}
.frontLayer {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include shadow(10px, 0px, 80px, 1px, rgba(0, 0, 0, 0.5));
  position: absolute;
  background: $color-1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .big-logo-wrapper {
    margin: 20px;
    position: relative;
    width: 247px;
    height: 213px;
    .big-logo-stroke {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("./creadores-logo-white-medium-stroke.svg");
    }
    .big-logo-filled {
      width: 100%;
      height: 100%;
      background: url("./creadores-logo-white-medium.svg");
    }
  }
}
footer {
  padding: 120px 40px;
  box-sizing: border-box;
  width: 100vw;
  background: $color-3;
  color: $color-2;
  .set-width {
    @include flexbox();
    @include justify-content(space-around);
    overflow: scroll;
  }
  .title {
    font-weight: 500;
    margin-bottom: 40px;
  }
  ul {
    list-style: none;
    padding: 0;
    font-weight: 400;
    li {
      font-size: 14px;
      margin: 20px 0;
      cursor: pointer;
    }
  }
}
#estimate {
  background: rgb(243, 89, 89);
  background: linear-gradient(138deg, rgba(243, 89, 89, 1) 0%, rgba(220, 90, 199, 1) 100%);
  color: $color-2;
  margin-top: 137px;
  padding-bottom: 100px;
  .content {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding-top: 100px;
    form {
      margin-top: 100px;
    }
    button {
      padding: 30px 50px;
      font-size: 30px;
    }
    .section {
      margin-top: 100px;
      width: 100%;
      text-align: center;
      .tales {
        @include flexbox();
        @include justify-content(space-around);
        width: 100%;
        margin: 100px 0 0 0;
        input {
          display: none;
          &:checked ~ .tale {
            transform: scale(1.05);
            @include shadow(0, 16px, 20px, 0, rgba(0, 0, 0, 0.2));
            .checkmark {
              border: 1px solid rgb(240, 46, 46);
              background: rgb(240, 46, 46);
              background: linear-gradient(138deg, rgba(240, 46, 46, 1) 0%, rgba(211, 47, 186, 1) 100%);
              &::before {
                content: "";
                width: 8px;
                height: 2px;
                background: #ffffff;
                position: absolute;
                top: 16px;
                left: 8px;
                transform: rotate(45deg);
              }
              &::after {
                content: "";
                width: 15px;
                height: 2px;
                background: #ffffff;
                position: absolute;
                top: 13px;
                left: 11px;
                transform: rotate(-50deg);
              }
            }
          }
        }
        label {
          width: 30%;
        }
        .tale {
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          max-width: 300px;
          height: 300px;
          background: $color-2;
          border-radius: 10px;
          color: $color-3;
          position: relative;
          cursor: pointer;
          @include shadow(0, 8px, 20px, 0, rgba(0, 0, 0, 0.2));
          transition: 0.5s all;
          .checkmark {
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid $color-4;
            right: 20px;
            top: 20px;
            border-radius: 5px;
          }
          .tongue {
            position: absolute;
            bottom: 0;
            left: 0;
          }
          .icon {
            width: 80px;
            height: 80px;
            margin-bottom: 25px;
          }
          &.desktop {
            .color-1 {
              stop-color: #f02e2e;
            }
            .color-2 {
              stop-color: #d32fba;
            }
            .icon {
              @include sprite(0, 0);
            }
          }
          &.mobile {
            .color-1 {
              stop-color: #f02e2e;
            }
            .color-2 {
              stop-color: #0025ef;
            }
            .icon {
              @include sprite(-80px, 0);
            }
          }
          &.other {
            .color-1 {
              stop-color: #f02e2e;
            }
            .color-2 {
              stop-color: #00ff0a;
            }
            .icon {
              @include sprite(-160px, 0);
            }
          }
          &.frontend {
            .color-1 {
              stop-color: #f02e2e;
            }
            .color-2 {
              stop-color: #ff9300;
            }
            .icon {
              @include sprite(-240px, 0);
            }
          }
          &.backend {
            .color-1 {
              stop-color: #f02e2e;
            }
            .color-2 {
              stop-color: #2fc0d3;
            }
            .icon {
              @include sprite(-320px, 0);
            }
          }
          &.design {
            .color-1 {
              stop-color: #f02e2e;
            }
            .color-2 {
              stop-color: #fff500;
            }
            .icon {
              @include sprite(-400px, 0);
            }
          }
        }
      }
    }
  }
}
.set-width {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h1 {
  font-size: 3em;
}
form {
  .floating-label-wrap {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    &.error {
      input,
      textarea {
        border-color: $color-2;
      }
      label {
        color: $color-2;
      }
    }
  }
  margin: 100px 0;
  width: 90%;
  max-width: 800px;
  label,
  input,
  textarea {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  input,
  textarea {
    font-size: 1.3em;
    background: none;
    width: 100%;
    border: 0;
    color: $color-2;
    border-bottom: 1px solid $color-2;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 15px 0;
    cursor: text;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: 0;
  }

  label {
    letter-spacing: 0.05em;
    font-size: 15px;
    pointer-events: none;
  }
  textarea {
    min-height: 100px;
  }
  /**
    * Translate down and scale the label up to cover the placeholder,
    * when following an input (with placeholder-shown support).
    * Also make sure the label is only on one row, at max 2/3rds of the
    * field—to make sure it scales properly and doesn't wrap.
    */
  input:placeholder-shown + label,
  textarea:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 3.125rem) scale(1.5);
  }
  /**
    * By default, the placeholder should be transparent. Also, it should 
    * inherit the transition.
    */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
    * Show the placeholder when the input is focused.
    */
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
    * When the element is focused, remove the label transform.
    * Also, do this when the placeholder is _not_ shown, i.e. when 
    * there's something in the input at all.
    */
  input:not(:placeholder-shown) + label,
  input:focus + label,
  textarea:not(:placeholder-shown) + label,
  textarea:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }
}
